@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Profile</h2>
<hr />

<h3>Name: @Html.DisplayFor(model => model.Name)</h3>

<h3>Installation Date: @Model.InstallDate.ToShortDateString()</h3>

<h3>Current Operational Status: @Html.DisplayFor(model => model.OperationalStatus)</h3>

<h4>Licensed Engineers for this machine:</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>None</p>
}
else
{
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.FirstName @join.Engineer.LastName</li>
    }
  </ul>
}
@Html.ActionLink("Edit Profile", "Edit", new { id = Model.MachineId }) | 
@Html.ActionLink("Delete", "Delete", new { id = Model.MachineId }) | 
@Html.ActionLink("Add New Licensed Engineer", "AddEngineer", new { id = Model.MachineId }) | 
@Html.ActionLink("Back to Machines", "Index")
