@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Profile</h2>
<hr />

<h3>Name: @Html.DisplayFor(model => model.Name)</h3>

<h3>Installation Date: @Model.InstallDate.ToShortDateString()</h3>

<h3>Current Operational Status: @Html.DisplayFor(model => model.OperationalStatus)</h3>

<h2>Licensed Engineers for this machine:</h2>
<hr />
@if(@Model.JoinEntities.Count == 0)
{
  <p class="notes">None</p>
}
else
{
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.FirstName @join.Engineer.LastName</li>
      @using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("machineId", @Model.MachineId)
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Revoke License" class="btn btn-danger" />
      }
    }
  </ul>
}
<hr />
<div class="navigation-links">
  @Html.ActionLink("Edit Profile", "Edit", new { id = Model.MachineId }) | 
  @Html.ActionLink("Delete", "Delete", new { id = Model.MachineId }) | 
  @Html.ActionLink("Add New Licensed Engineer", "AddEngineer", new { id = Model.MachineId }) | 
  @Html.ActionLink("Back to Machines", "Index")
</div>