@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer

<h2>Create New Employee Record</h2>

@using(Html.BeginForm())
{
  <h3>@Html.LabelFor(model => model.FirstName, "First Name")</h3>
  @Html.TextBoxFor(model => model.FirstName, new { @class="form-control", required = "required" })

  <h3>@Html.LabelFor(model => model.LastName, "Last Name")</h3>
  @Html.TextBoxFor(model => model.LastName, new { @class="form-control", required = "required" })

  <h3>@Html.LabelFor(model => model.HireDate, "Hire Date")</h3>
  @Html.TextBoxFor(model => model.HireDate, "{0:yyyy-MM-dd}", new {@type = "date", @class="form-control", required = "required" })

  <h3>@Html.LabelFor(model => model.WorkStatus, "Current Work Status")</h3>
  <span>Idle</span>@Html.RadioButtonFor(m => m.WorkStatus, "Idle")
  <span>Busy</span>@Html.RadioButtonFor(m => m.WorkStatus, "Busy")

  <h3>@Html.LabelFor(model => model.Notes)</h3>
  @Html.TextBoxFor(model => model.Notes, new { @class="form-control" })

  <input type="submit" value="Save" class="btn btn-dark" />
}