@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Profile</h2>
<hr />

<h3>First Name: @Html.DisplayFor(model => model.FirstName)</h3>

<h3>Last Name: @Html.DisplayFor(model => model.LastName)</h3>

<h3>Hire Date: @Model.HireDate.ToShortDateString()</h3>

<h3>Work Status: @Html.DisplayFor(model => model.WorkStatus)</h3>
<h3>Notes:</h3>
<p class="notes">@Html.DisplayFor(model => model.Notes)</p>

<h2>Machine Repair Licenses:</h2>
<hr />
@if(@Model.JoinEntities.Count == 0)
{
  <p class="notes">None</p>
}
else
{
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name 
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("engineerId", @Model.EngineerId)
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Revoke License" class="btn btn-danger" />
      }
      </li>
    }
  </ul>
}
<hr />
<div class="navigation-links">
  @Html.ActionLink("Edit Profile", "Edit", new { id = Model.EngineerId,  })  | 
  @Html.ActionLink("Delete", "Delete", new { id = Model.EngineerId }) | @Html.ActionLink("Add New License", "AddMachine", new { id = Model.EngineerId }) | 
  @Html.ActionLink("Back to Engineers", "Index")
</div>
